@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	list-style-type:none;}
	
/**头部**/
.head{
	width:100%;
	height:110px;
	background-image:url(../images/denglubg.jpg);}
.DL{
	font-size: 16px;
	color:#666;
	float: right;
	margin-right:4%;
	left: 1372px;
	width: 80px;
	top: 8px;
	height: 21px;
}
.DL a{text-decoration:none; color:#000;}
.DL a:hover{text-decoration:none; color:#666;}
.logo_img{
	float:left;
	margin-top:50px;}
.top{
	width:970px;
	margin:0px auto;}
	/**头部完**/
	
	/**内容**/
.register{
	width:600px;
	height:500px;
	margin:0px 535px 0px 535px;}
	/**内容完**/
	 
	 /**底部**/ 
.foot{
	background:#181818;
	height:380px;
	width:100%;
	overflow:hidden;}
.foot_neirong{
	width:1060px;
	margin:0px auto;}
.foot_left{
	width:100%;
	height:auto;
	overflow:hidden;
	color:#fff;
	margin:13px auto 17px;}
.foot_left li {
	float:left;
	width:200px;
	color:#656565;
	overflow:hidden;}
.foot_left li dl {
	width:100%;
	height:auto;
	overflow:hidden;}
.foot_left li dl dt {
	color:#cfcfcf;
	font-size:14px;
	line-height:24px;
	margin-bottom:10px;}
.foot_left li dl dt a {color:#cfcfcf;text-decoration:none;}
.foot_left li dl dt a:hover {color:#fff; text-decoration:none;}
.youqinglianjie dd {
	width:100%;
	height:auto;}
.youqinglianjie dd div.foot_menu a {
	color:#656565;
	font-size:12px;
	height:20px;
	text-decoration:none;}
.youqinglianjie dd div.foot_menu a:hover { color:#CCC; text-decoration:none}
.youqinglianjie dd div.foot_menu p {
	color:#656565;
	font-size:12px;
	display:block;
	height:20px;
	line-height:20px;
	overflow:hidden;}
.anquan{
	margin-left:2%;
	left: 316px;
	top: 660px;
}
.waibulianjie{
	width: 300px;
	height: 100px;
	margin-right:20px;
	float:right;
	margin-top:10px;
}
.waibulianjie tr td a{
	color:#656565;
	font-size:14px;
	height:20px;
	text-decoration:none;}
.waibulianjie a:hover{color:#CCC; text-decoration:none}
    /**底部完**/
	
/*----------------------------------------------内容---------------------------------------------*/
	a {
blr:expression(this.onFocus=this.blur())
}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
/**头部**/
a:hover {
	color:#181d55;
	text-decoration:underline;}
*html, *html body /* 修正IE6振动bug */ {
	background-image:url(about:blank);
	background-attachment:fixed;}
